body {
    margin: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* close commented backslash hack */

html {
    background: #f5f5f5;
    color: #333;
}

.posts {
    width: 100%;
}

.post {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px transparent;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    width: 80%;
    margin: 10px auto;
    background-color: #fff;
}

a {
    color: #00CDCD;
}

.pointer {
    cursor: pointer;
}

.post__user-info {
    float: left;
    width: 20%;
    padding: 2%;
    text-align: center;
}

.post__post-info {
    float: left;
    width: 72%;
    padding: 2%;
}

.post__text {
    text-transform: capitalize;
}

.post__picture {
    margin-top: 5px;
}

.post__username {
    font-weight: bold;
    font-size: 16px;
    color: #ed1968;
}

.post__mood-where {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

.post__location {
    margin-top: 5px;
    font-size: 13px;
    color: #9197a3;
}

.post__comments-link,
.post__likes-link,
.post__heart {
    color: #00CDCD;
    font-size: 14px;
    margin: 10px 0;
    display: inline-block;
}

.post__heart {
    margin-left: 10px;
    position: relative;
    top: 12px;
}

.post__heart_deactivated {
    opacity: 0.3;
}

.comment__picture {
    float: left;
}

.comment__comment-info {
    float: left;
    width: 72%;
    padding: 0 2% 2% 2%;
}

.comment__text {
    text-transform: capitalize;
}

.comment__username,
.like {
    font-weight: bold;
    font-size: 16px;
    color: #ed1968;
}

.like {}

.info-text {
    margin-left: 15px;
    color: #b9b9b9;
}

.hide {
    display: none;
}

.back-to-main {
    margin-bottom: 20px;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: inset 0 0 6px 1px #e4e4e4;
    padding: 3px 5px;
    font-size: 18px;
}

.row {
    margin-bottom: 10px;
}

.label {
    color: #666;
    margin-bottom: 3px;
    font-weight: bold;
}

.control-panel {
    font-size: 18px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
}

.test-kind {
    float: left;
    margin-right: 15px;
}

input[type=checkbox] {
    position: relative;
    top: 2px;
}

.button {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 5px 26px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:hover {
    background: #a8a8a8;
}

.fw {
    margin: -10px 0 0 0;
}

.results {
    margin-top: 30px;
}
