{% extends "templates/layout.html.twig" %}

{% block include_require %}
    {{ parent() }}
    require(['js/pages/angularpage'], function() {
        require(['js/pages/main'], function() {

        });
    });
{% endblock %}

{% block fw %}Angular{% endblock %}

{% block content %}
    <div class="page js-page app" >
        <main class="posts js-posts js-posts-angular" ng-controller="SocialController">
            <article post-block ng-repeat="post in posts" class="post js-post clearfix" id="{[post._id]}" data-ng-cloak>
                <div class="post__user-info">
                    <img class="post__picture" ng-src="{[post.picture]}" alt="" />
                </div>
                <div class="post__post-info">
                    <div class="post__username">{[post.username]} <span class="pointer" title="{[post.date]}">says</span>:</div>
                    <div class="post__text">{[post.text]}</div>
                    <div class="post__mood-where">Feeling {[post.mood]} with <a href="#" ng-repeat="friend in post.withWho">{[friend.username]}<span ng-if="!$last">, </span></a></div>
                    <div class="post__location">Near {[post.where]}</div>
                    <!-- comment count -->
                    <div class="post__comments-link pointer js-comment" ng-click="showComments=!showComments; showLikes = false">Comments ({[post.comments.length]})</div>
                    <!-- like count -->
                    <div class="post__likes-link pointer js-like" ng-click="showLikes=!showLikes; showComments = false">Likes ({[post.likes.length]})</div>
                    <!-- like button -->
                    <img src="img/like.png" class="post__heart pointer js-heart-angular" />
                    <div class="comments" ng-show="showComments">
                        <div class="comment clearfix" ng-repeat="comment in post.comments" id="comment._id">
                            <img class="comment__picture" ng-src="{[comment.picture]}" alt="" />
                            <div class="comment__comment-info">
                                <div class="comment__username">{[comment.username]} <span class="pointer" title="{[comment.date]}">says</span>:</div>
                                <div class="comment__text">{[comment.text]}</div>
                            </div>
                        </div>
                    </div>
                    <div class="likes" ng-hide="showLikes">
                        <div class="like clearfix" ng-repeat="like in post.likes" id="like._id">
                            {[like.username]}
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
{% endblock %}