{% extends "templates/layout.html.twig" %}

{% block include_require %}
    {{ parent() }}
    require(['js/pages/emberpage'], function() {
        require(['js/pages/main'], function() {

        });
    });
{% endblock %}


{% block fw %}Ember{% endblock %}

{% block content %}

<script type="text/x-handlebars" data-template-name='home'>
  {% verbatim %}

    <div class="page js-page">
        {{#each}}
        <main class="posts js-posts js-posts-ember">
            <article post-block class="post js-post clearfix" id="{{_id}}">
                <div class="post__user-info">
                    <img class="post__picture" src="{{picture}}" alt="{{date}}" />
                </div>
                <div class="post__post-info">
                    <div class="post__username">{{username}} <span class="pointer" title="">says</span>:</div>
                    <div class="post__text"></div>
                    <div class="post__mood-where">Feeling {{mood}} with 

                        {{#each withWho}}
                            <a href="#"> {{username}} <span>, </span></a>
                        {{/each}}

                    </div>
                    <div class="post__location">Near {{where}}</div>
                    <!-- comment count -->
                    <div class="post__comments-link pointer js-comment">Comments ({{comments.length}})</div>
                    <!-- like count -->
                    <div class="post__likes-link pointer js-like">Likes ({{likes.length}})</div>
                    <!-- like button -->
                    <img src="img/like.png" class="post__heart pointer js-heart-ember" />
                    
                    <div class="comments" style="display:none;">

                        {{#each comments}}
                        <div class="comment clearfix" id="{{_id}}">
                            <img class="comment__picture" src="{{picture}}" alt="{{date}}" />
                            <div class="comment__comment-info">
                                <div class="comment__username">{{username}} <span class="pointer" title="">says</span>:</div>
                                <div class="comment__text">{{text}}</div>
                            </div>
                        </div>
                        {{/each}}

                    </div>

                        
                        <div class="likes" >
                        {{#each likes}}
                            <div class="like clearfix" id="{{_id}}">{{username}}</div>
                            {{/each}}
                        </div>
                        
                </div>
            </article>
        </main>
        {{/each}}
    </div>
  {% endverbatim %}
</script>


{% endblock %}