<!DOCTYPE html>
<html style="background: #f5f5f5; color: #333;">
<head>
    <meta charset="utf-8">
    <title>All pages</title>
</head>
<body style="margin: 20px;">
<div class="list">
    <h1>Test Runner</h1>
    <h2>Choose framework to run tests!</h2>
    <ul style="font-size: 20px;">
        <li><a href="index.php?page=angular" style="color: #00CDCD;">Angular</a></li>
        <li><a href="index.php?page=react" style="color: #00CDCD;">React</a></li>
        <li><a href="index.php?page=knockout" style="color: #00CDCD;">Knockout</a></li>
        <li><a href="index.php?page=ember#/home" style="color: #00CDCD;">Ember</a></li>
    </ul>
</div>
</body>
</html>