{% extends "templates/layout.html.twig" %}

{% block include_require %}
    {{ parent() }}
    require(['js/pages/knockoutpage'], function() {
        require(['js/pages/main'], function() {

        });
    });
{% endblock %}

{% block fw %}Knockout{% endblock %}

{% block content %}
    <!-- Knockout -->
    <div class="page js-page">
        <main class="posts js-posts js-posts-knockout" data-bind="foreach: posts">
            <article class="post js-post clearfix" data-bind="attr: {'id': _id}">
                <div class="post__user-info">
                    <img class="post__picture"  data-bind="attr: {'src': picture}" alt="" />
                </div>
                <div class="post__post-info">
                    <div class="post__username"><!--ko text: username--><!--/ko--> <span class="pointer"  data-bind="attr: {'title': date}">says</span>:</div>
                    <div class="post__text"><!--ko text: text--><!--/ko--></div>
                    <div class="post__mood-where">Feeling <!--ko text: mood--><!--/ko--> with
                        <!--ko foreach: withWho-->
                            <a href="#" ><!--ko text: username--><!--/ko-->
                                <!-- <span data-bind="if: ($index() === ($parent.withWho().length - 1))">, </span> -->
                            </a>
                        <!--/ko-->
                        <!-- http://stackoverflow.com/questions/9185821/knockout-js-foreach-binding-test-if-last-element -->
                    </div>
                    <div class="post__location">Near <!--ko text: where--><!--/ko--></div>
                    <div class="post__comments-link pointer js-comment" data-bind="click: $parent.toggleComments">Comments (<!--ko text: comments().length--><!--/ko-->)</div>
                    <div class="post__likes-link pointer js-like" data-bind="click: $parent.toggleLikes">Likes (<!--ko text: likes().length --><!-- /ko -->)</div>
                    <img src="img/like.png" class="post__heart pointer js-heart-knockout" data-bind="click: $parent.like" />
                    <div class="comments" data-bind="foreach: comments, visible: showComments">
                        <div class="comment clearfix" data-bind="attr: {'id': _id}">
                            <img class="comment__picture" data-bind="attr: {'src': picture}" alt="" />
                            <div class="comment__comment-info">
                                <div class="comment__username"><!--ko text: username--><!--/ko--> <span class="pointer" data-bind="attr: {'title': date}">says</span>:</div>
                                <div class="comment__text"><!--ko text: text--><!--/ko--></div>
                            </div>
                        </div>
                    </div>
                    <div class="likes" data-bind="foreach: likes, visible: showLikes">
                        <div class="like clearfix" data-bind="attr: {'id': _id}">
                            <!--ko text: username--><!--/ko-->
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>

{% endblock %}