{% extends "templates/layout.html.twig" %}

{% block include_require %}
    {{ parent() }}
    require(['js/pages/reactpage'], function() {
        require(['js/pages/main'], function() {

        });
    });
{% endblock %}


{% block fw %}React{% endblock %}

{% block content %}
    <div class="page js-page">
        <!-- React wrapper -->
        <div id="reactTest"></div>
    </div>

{% endblock %}