<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <h1>Test Runner</h1>
    <div class="back-to-main">
        <a href="/" >Back to main page</a>
    </div>
    <div class="control-panel">
        <div class="row">
            <h2 class="fw">{% block fw %}{% endblock %}</h2>
        </div>
        <div class="row">
            <div class="label">Number of posts:</div>
            <input class="input js-number-of-posts" value="1" placeholder="Number of posts" type="text" />
        </div>
        <div class="row">
            <div class="label">Number of repeats for test:</div>
            <input class="input js-number-of-tests" value="1" placeholder="Number of tests" type="text" />
        </div>
        <div class="row clearfix">
            <div class="label">Kinds of tests to run:</div>
            <div>
                <div class="test-kind"><label for="renderTest">Render a list</label><input id="renderTest" type="checkbox" name="renderTest"></div>
                <div class="test-kind"><label for="likeTest">Like one post</label><input id="likeTest" type="checkbox" name="likeTest"></div>
                <div class="test-kind"><label for="likeAllTest">Like all posts</label><input id="likeAllTest" type="checkbox" name="likeAllTest"></div>
                <div class="test-kind"><label for="addTest">Add one post</label><input id="addTest" type="checkbox" name="addTest"></div>
            </div>
        </div>
        <div class="row">
            <button class="button js-run run">Run tests</button><span class="js-info-text info-text hide">Tests are running...</
            span>
        </div>
        <div class="row">
            <button class="button js-save save hide">Save results on server</button>
            <button class="button js-download download hide" data-exists="{{ exists }}">Download saved results from server </button>
        </div>
    </div>


    {% block content %}

    {% endblock %}

    <div class="results js-results"></div>

    {% block javascript %}
        <script src="js/require.min.js"></script>
        <script>
            require(['js/common'], function() {
                {% block include_require %}

                {% endblock %}
            });
        </script>
    {% endblock %}
</body>
</html>